
/*
	BLOCKS
*/

.statistic{
    padding:21px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    
}
.statistic>label{
    font-size: 12px;
    color:rgb(160,160,160);
    margin-bottom:30px;
    letter-spacing: 0.8px;
}
.statistic>div{
    font-size:26px;
    color:rgb(30,30,30);
    font-weight: 400;
}

.legend{
    padding:15px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.legend>div{margin:3px 0px}
.legend>div>label{
    font-size: 12px;
    color:rgb(92, 92, 92);
    letter-spacing: 0.8px;
    display: inline-block;
    min-width: 132px;
}
.legend>div>div{
    font-size:12px;
    color:rgb(30,30,30);
    font-weight: 400;
    display: inline-block;
}