
/*
	LANDING
*/

	.landing_content{display: inline-block;width:540px;color:white;padding:30px 0px;text-align: left;}
	.landing_title{color:white;font-size: 42px;}
	.landing_dash{height:1px;width:36px;background-color: transparent;margin:15px 0px 15px 0px;display: inline-block;}
	.landing_description{padding:0px 0px;text-align:justify;margin:0px 0px;font-weight:300; font-size: 21px;line-height: 28px;letter-spacing: 0.6px;}
	.landing_actions{padding-top:36px }
	.landing_actions>a:first-child{
		font-size:14px;
		color:white !important;
		padding:21px 30px;
		border:1px solid rgba(255,255,255,0.8);
		letter-spacing: 1px;
		border-radius: 0px;
		font-weight: 400;
	}
	.landing_actions>a{
		font-size:14px;
		color:white !important;
		padding:21px 30px;
		border:1px solid transparent;
		letter-spacing: 1px;
		border-radius: 0px;
		font-weight: 400;
		transition: 0.4s ;
	}
	.landing_actions>a:hover{
		border:1px solid rgba(255,255,255,1);
		background-color: rgba(99, 134, 39, 0.2);
	}

	.landing_menu{font-size: 0px;}
	.landing_menu>div{display: inline-block;width:50%;}
	.landing_menu>div:first-child{text-align:left;}
	.landing_menu>div:last-child{text-align:right;}
	.landing_menu>div>a{
		font-size:17px;
		color:rgb(120,162,47) !important;
		padding:24px 36px;
		border-top:2px solid transparent;
		border-bottom: 2px solid transparent;;
		border-radius: 0px;
		font-weight: 600;
	}
	.landing_menu>div>a:hover{
		border-bottom: 2px solid rgb(120,162,47) ;
	}

/*
	CONTENT
*/

.content{display:inline-block;text-align: left;max-width: 1200px;padding:30px 0px}
.content_path{margin-top:30px !important}
.content_heading{padding:36px 0px 48px 0px;font-size:0px}
.content_heading>h1{display:inline-block;vertical-align:middle;width:70%}
.content_heading>div{display:inline-block;vertical-align:middle;width:30%; text-align:right}
.content_heading>div>div{display:inline-block;padding:9px 16px; background-color: rgb(120,162,47);color:white;cursor:pointer;border-radius:5px;font-size:12px}
