
/*
	Signin
*/
.signin{
	width: 100%; 
	display:flex;
	height: 100%;
}


.signin>div:first-child{
	display:flex;
	flex-direction: column;
	overflow-y: scroll;
	flex-grow:1;
	width:62%
}
.signin>div:last-child{
	background-color:rgb(249,249,249);
	flex-direction: column;
	flex-shrink:0;
	display:flex;
	width:38%;
	border-left:1px solid rgb(240,240,240);
	
}




/*	RIGHT */




.signin_panel{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-align: left;
}
.signin_panel>h2{
	display: block;
	padding-top:15px;
	padding-bottom:24px;
	font-weight: 600;
	color:rgb(117, 158, 46) !important

}
.signin_panel>h1{
	display: block;

}
.signin_panel>p{
	margin-top:30px;
	color:rgb(120,120,120);
	letter-spacing: 0px;
}
.signin_panel>label{
	display: block;
	margin-top:30px;
	margin-bottom:15px;
	font-size:21px;
}
.signin_panel>button{
	display: block;
	margin-top:36px;
	margin-bottom:30px;
	font-size:21px;
	background-color:rgb(117, 158, 46,0.9);
	cursor: pointer;
	color:white;
	border: none;
	font-size: 14px;
	padding:12px;
	border-radius: 3px;
	font-family: 'lato';
	font-weight: 400;
	width:96px;
	letter-spacing: 0.8px;
	transition: 300ms background-color;
}
.signin_panel>hr{
	display: block;
	margin-top:30px;
	margin-bottom:30px;
	font-size:21px;
	border-top:1px solid rgb(220,220,220)
}
.signin_panel>a{
	display: block;
	color:rgb(117, 158, 46);
}
.signin_panel>button:hover{
	background-color:rgb(117, 158, 46,1);
}
.signin_panel>span{
	
	width: 100%;
	font-size: 15px;
	color:chocolate
}
.signin_field{
	margin-top:15px;
	font-size:21px;
}

.signin_field>label{
	margin-bottom:9px;
	font-size:13px;
	display: block;
}
.signin_field>input{
	padding:12px;
	border-radius: 6px;
	border:1px solid rgb(190,190,190);
	width: 100%;
	font-size: 14px;
}

/*	LEFT */

.signin>div:last-child img{

}
