
/*
	Signin
*/
.signin{
	font-size:0px;
	height: 100%;
}
.signin_left{
	display: inline-block;
	vertical-align: top;
	width:60%;
	height: 100%;
	text-align: center;
}
.signin_shim_middle{
	display: inline-block;
	height:100%;
	vertical-align: middle;
}
.signin_shim_bottom{
	display: inline-block;
	height:100%;
	vertical-align: top;
}
.signin_panel{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-align: left;
}
.signin_panel>h2{
	display: block;
	padding-top:15px;
	padding-bottom:48px;
	font-weight: 600;
	color:rgb(117, 158, 46) !important

}
.signin_panel>h1{
	display: block;

}
.signin_panel>p{
	margin-top:30px;
	color:rgb(120,120,120);
	letter-spacing: 0px;
}
.signin_panel>label{
	display: block;
	margin-top:48px;
	margin-bottom:15px;
	font-size:21px;
}
.signin_panel>button{
	display: block;
	margin-top:30px;
	margin-bottom:30px;
	font-size:21px;
	background-color:rgb(117, 158, 46,0.9);
	cursor: pointer;
	color:white;
	border: none;
	font-size: 14px;
	padding:12px;
	border-radius: 3px;
	font-family: 'lato';
	font-weight: 400;
	width:96px;
	letter-spacing: 0.8px;
	transition: 300ms background-color;
}
.signin_panel>hr{
	display: block;
	margin-top:30px;
	margin-bottom:30px;
	font-size:21px;
	border-top:1px solid rgb(220,220,220)
}
.signin_panel>a{
	display: block;
	color:rgb(117, 158, 46);
}
.signin_panel>button:hover{
	background-color:rgb(117, 158, 46,1);
}
.signin_field{
	margin-top:15px;
	font-size:21px;
}

.signin_field>label{
	margin-bottom:9px;
	font-size:13px;
	display: block;
}
.signin_field>input{
	padding:12px;
	border-radius: 6px;
	border:1px solid rgb(190,190,190);
	width: 100%;
	font-size: 14px;
}


.signin_right{
	display: inline-block;
	background-color:rgb(248,248,248);
	width:40%;
	height: 100%;
	text-align: center;
}

.signin_right>img{
	display: inline-block;
	vertical-align: bottom;
	width:80%;
	max-width: 600px;
	opacity: 0.7;
}