
/*
	Frames - Admin
*/

.frame{height:100%;} 
.frame_header{
	height:84px;
	/*box-shadow: 0 2px 6px 2px rgba(0,0,0,0.025);
	box-shadow: -2px 6px 12px -3px rgb(0 0 0 / 2%)
	
	box-shadow: 0px 0px 20px rgba(0, 0, 0,0.02);*/
}
.frame_subheader{height:6%;}
.frame_body{
	height:90%;
	width: 100%; 
	display:flex;
}
.frame_body_light{background-color:rgba(250,250,250,0.5)}

.frame_body_left{display:flex;flex-direction: column;flex-shrink:0;width:300px;padding:0px;overflow-x: hidden;text-align: center; }
.frame_body_left_hide{display:none;}

.frame_body_right{border-left:1px solid rgb(240,240,240);flex-grow:1;display:flex;flex-direction: column;overflow-y: auto;text-align: center;align-items: center;}
.frame_body_right_panel{display:inline-block;text-align: left;max-width: 1200px;padding:30px 0px}
.frame_body_right_panel_path{margin-top:30px !important}
.frame_body_right_panel_heading{padding:36px 0px 48px 0px;font-size:0px}
.frame_body_right_panel_heading>h1{display:inline-block;vertical-align:middle;width:70%}
.frame_body_right_panel_heading>div{display:inline-block;vertical-align:middle;width:30%; text-align:right}
.frame_body_right_panel_heading>div>div{display:inline-block;padding:9px 16px; background-color: rgb(117, 158, 46);color:white;cursor:pointer;border-radius:5px;font-size:12px}


.frame_footer{height:10%;}





/*
 
	Frame - Navigation

*/

.nav{margin:30px 0px;display: inline-block;text-align: left} 
.nav_item_active,.nav_item{width:100%;border-left:5px solid transparent;padding:15px 15px;cursor:pointer;font-size:0px}
.nav_item_active{border-left:5px solid rgb(117, 158, 46);background-color:rgb(248,248,248)}
.nav_item:hover{color:rgb(117, 158, 46)}
.nav_item>i,.nav_item_active>i{display:inline-block;width:30%;font-size:21px;text-align: center}
.nav_item>div,.nav_item_active>div{display:inline-block;width:70%;letter-spacing:0.6px; font-size:18px;font-weight:400;}
.nav_item_active>i{color:rgb(117, 158, 46)}
.nav_item_active>div{color:rgb(117, 158, 46)}


/*
	Frame - Auth
*/
	.shim{height:100%;display: inline-block;vertical-align: middle}

	.auth{background-color:rgb(248,248,248);text-align:center;height:100%}
	.auth_title{margin-bottom:60px !important}

	.auth_field{margin:12px}
	.auth_field>label{font-size: 14px}
	.auth_field>input{font-family:'Lato' !important;padding:12px 6px;border:1px solid rgb(220,220,220);margin:15px 0px;width: 100%;border-radius:6px;font-size:17px}
	.auth_field>input:active{padding:12px 6px;border:1px solid rgb(220,220,220);margin:15px 0px;width: 100%;border-radius:6px;font-size:17px}
	.auth_field>span{font-size:13px}

	.auth_submit{font-size:15px;color:white; background-color: black;border-radius: 3px;padding:12px 0px;width:100%; display:block;margin-top:30px}

	

/*
	Frame - Menu
*/

	.frame_menu{height:100%}
	
	.frame_menu_profile{padding:21px 12px;text-align:center;font-size: 18px;border-bottom:1px solid rgb(220,220,220);background-color:rgb(240, 240, 240)}
	.frame_menu_nav{
		padding:0px;
		margin:0px;
		list-style: none;
	}
	.frame_menu_nav>li{
		width:100%;
		border-left:2px solid transparent;
		transition: 0.3s border;
		padding:24px 24px;
		font-size:15px;
		font-family: 'Lato';
		border-bottom:1px solid rgb(240,240,240);
		cursor: pointer;
		color:rgb(120,120,120)
	}
	.frame_menu_nav>li:hover{
		border-left:2px solid rgb(117, 158, 46);
	}


