



.content{display: inline-block;width:1020px;font-size:0px;padding:60px 15px;text-align: center;}
	
.panel{
	/* box-shadow: 0px 0px 24px rgba(0,0,0, 0.1);  */
	width:100%;
	border-bottom:1px solid rgb(220,220,220)
}

.left_panel{
	display: inline-block;
	width:15%;
	vertical-align: top;
	text-align:left;
	display: none;
}
.center_panel{
	display: inline-block;
	width:75%;
	text-align: left;
	vertical-align: top;
	padding-right:30px
}
.right_panel{
	display: inline-block;
	width:20%;
	text-align: right;
	vertical-align: top;
	padding-left:30px;
}

.img_wrapper{
	
	text-align:center;
	width:132px;
	height: 132px;
	border-radius: 8px;
	border:1px solid rgb(220,220,220);
	 box-shadow: 0 0px 8px rgb(0 0 0 / 14%); 
	background-color:rgb(252,252,252);
	display:inline-block;
}
.img_wrapper > div{
	vertical-align: middle;
	display: inline-block;
	height:100%
}
.img_wrapper > img{
	width:72px;
	display: inline-block;
	vertical-align: middle;
}
.icon{background-color:white ;font-size: 0px;width:60px;height: 60px;border-radius: 50%;display:inline-block}
.icon>div{display: inline-block;height: 100%;vertical-align: middle;}
.icon>img{display: inline-block;vertical-align: middle;}

.details_wrapper{display: inline-block;width:60%;padding-left:36px;vertical-align: top;}

.title{font-size: 34px;padding-top:12px;letter-spacing: -1px;}

.tags{padding-top:21px}
.tags > span{margin:9px 3px;display:inline-block;font-size:12px;color:rgb(100,100,100);letter-spacing: 0.6px;background-color:rgb(245,245,245);padding:3px 15px}

.description{width:100%;padding:0px;margin:30px 0px 0px 0px;color:rgb(40,40,40);text-align:left; font-size: 16px;line-height: 28px;letter-spacing: 0.6px;}

.actions{text-align: center;margin-top:30px;}
.actions>a{
	font-size:14px;
	color:rgb(117, 158, 46) !important;
	padding:9px 30px;
	border:1px solid rgb(117, 158, 46);
	letter-spacing: 0.6px;
	border-radius: 0px;
	font-weight: 600;
	transition: 0.4s ;
	margin-bottom:15px;
	text-align: center;
	width: 100%;
}

.actions>a:first-child{
	font-size:14px;
	color:white !important;
	padding:9px 30px;
	border:1px solid rgb(117, 158, 46);
	letter-spacing: 1px;
	border-radius: 0px;
	font-weight: 400;
	background-color: rgb(117, 158, 46);

}
.actions>a:first-child:hover{
	border:1px solid rgb(99, 134, 39);
	background-color: rgb(99, 134, 39);
	color:white !important;		
}
.actions>a:hover{
	border:1px solid rgb(99, 134, 39);
	background-color: rgb(248,248,248);
	color:black !important;
}

.options{width:600px;display:none;margin:15px 0px}
.options>span{padding:6px 0px;display:inline-block;font-size:14px;font-weight:600;cursor: pointer;}
.options>span:hover{color:rgb(99, 134, 39)}
.options>i{margin:0px 24px;display: inline-block;height:12px; width:2px;background-color: rgb(140,140,140);}

.resources{margin:30px 0px;text-align:left;}

.resources>h2{margin:30px 0px;font-size:24px; font-weight: 500;}

.resources>ul{margin:0px;padding:0px;list-style: none;}
.resources>ul>li{padding:6px 0px;margin:0px}
.resources>ul>li>a{display: block;color:black}
.resources>ul>li>a>label{padding-left:12px;color:rgb(99, 134, 39)}

.resources>ul>li>a>label:hover{text-decoration: underline;}
