
/*
	INDEX
*/
	.divider{
		margin:30px 0px;
		width:100%;
	}

/*
	LANDING
*/

	.landing_content{display: inline-block;width:720px;color:white;padding:30px 0px;text-align: center;}
	.landing_title{color:white;font-size: 42px;}
	.landing_dash{display:none;height:1px;width:36px;background-color: white;margin:15px 0px 15px 0px;}
	.landing_description{padding:0px 0px;text-align:left;margin:30px 0px 0px 0px;font-weight:300; font-size: 19px;line-height: 26px;letter-spacing: 0.6px;}
	.landing_actions{padding:48px 0px 0px 0px  }
	.landing_actions>a{
		font-size:14px;
		color:rgb(120,162,47) !important;
		padding:21px 30px;
		border:1px solid rgb(120,162,47);
		letter-spacing: 0.6px;
		border-radius: 0px;
		font-weight: 600;
		transition: 0.4s ;
		margin:0px 9px;
		min-width:270px;
	}

	.landing_actions>a:first-child{
		font-size:14px;
		color:white !important;
		padding:21px 30px;
		border:1px solid rgb(120,162,47);
		letter-spacing: 1px;
		border-radius: 0px;
		font-weight: 400;
		background-color: rgb(120,162,47);
	}
	.landing_actions>a:first-child:hover{
		border:1px solid rgb(99, 134, 39);
		background-color: rgb(99, 134, 39);
		color:white !important;		
	}
	.landing_actions>a:hover{
		border:1px solid rgb(99, 134, 39);
		background-color: rgb(248,248,248);
		color:black !important;
	}

	.landing_options{width:600px;display:inline-block;margin:15px 0px}
	.landing_options>span{padding:6px 0px;display:inline-block;font-size:14px;font-weight:600;cursor: pointer;}
	.landing_options>span:hover{color:rgb(99, 134, 39)}
	.landing_options>i{margin:0px 24px;display: inline-block;height:12px; width:2px;background-color: rgb(140,140,140);}

	.landing_links{width:720px;text-align: left;display:inline-block;}
	.landing_links>h3{font-weight: 600; font-size:19px;display:inline-block;margin-left:9px}
	
	.landing_links>p{font-size:13px;}
	.landing_links>label{ font-size:13px;color:rgb(140,140,140);display:block;margin:30px 0px}
	.landing_links>ul{padding:0px; border:1px solid rgb(220,220,220);list-style: none;margin:30px 0px}
	.landing_links>ul:last-child{margin-bottom:120px}
	.landing_links>ul>li{background-color:rgb(250,250,250);cursor:pointer;color:rgb(99, 134, 39); border-left:2px solid rgb(220,220,220);margin:0px;padding:15px 15px;font-size:15px;border-bottom:1px solid rgb(220,220,220);}
	.landing_links>ul>li:hover{border-left:2px solid rgb(120,162,47);color:rgb(120,162,47);}
	.landing_links>ul>li>last-child{border-bottom: none;}
	.landing_links>ul>li>a{color:rgb(120,162,47) !important;display: block;}
	.landing_links>ul>li>a:hover{color:rgb(99, 134, 39) !important;text-decoration: underline;}
	


/*
	CONTENT
*/

	.content{display:inline-block;text-align: left;max-width: 1200px;padding:30px 0px}
	.content_path{margin-top:30px !important}
	.content_heading{padding:36px 0px 48px 0px;font-size:0px}
	.content_heading>h1{display:inline-block;vertical-align:middle;width:70%}
	.content_heading>div{display:inline-block;vertical-align:middle;width:30%; text-align:right}
	.content_heading>div>div{display:inline-block;padding:9px 16px; background-color: rgb(120,162,47);color:white;cursor:pointer;border-radius:5px;font-size:12px}
