
/*
	Form
*/

	.form_heading {
		width:100%;
		background-color: white;
		border-bottom:1px solid rgb(220,220,220);
		text-align:center;

	}
	.form_heading_wrapper {
		width:100%;
		max-width:720px;
		background-color: white;
		padding:36px 0px;
		display: inline-block;
		text-align: left;
	}
	
	.form_heading_wrapper>div {display: inline-block;vertical-align:middle;text-align: left;margin-left:15px;}
	.form_heading_wrapper>img {display: inline-block;vertical-align: middle;width:54px;opacity: 0.5;}
	.form_heading_wrapper label {color:rgb(117, 158, 46);font-size:13px;display: block;line-height: 13px;}
	.form_heading_wrapper h1 {line-height:28px;font-size:27px;padding-bottom:9px;}

	.form {display: inline-block;width:100%;max-width:744px;text-align: left;}



	.form_path {
		padding:30px 0px;
		margin:30px 0px;
	}

	.form_panel {
		
		padding:30px 0px;
		
	}
	.form_actions {
		
		padding:0px 12px;
		
	}


/*
	HR
*/
    .form hr{border:none;border-top:1px solid rgb(220,220,220);margin:30px 0px;display: block}

/*
	Container
*/
	.container{width:100%}
/*
	Field
*/

	.field,.field_invalid{padding:9px 12px;display:inline-block;vertical-align: top;}
	.field>label,.field_invalid>label{font-size:16px;font-weight:600;display: block;letter-spacing:0.4px;}
	.field>div,.field_invalid>div{overflow:hidden;border:1px solid rgb(150,150,150);border-radius:4px;margin:9px 0px;background-color: white;}
	.field_invalid>div{border-color:rgba(193,64,12,0.80)}
	.field>span,.field_invalid>span{font-size:13px;display: block;}
	.field>span,.field_invalid>span{font-size:13px;display: block;}
	.field_invalid>span{color:rgba(193,64,12,0.80)}
	.field>p,.field_invalid>p{line-height:19px;font-size:14px;display: block;letter-spacing:0.4px;color:rgb(120,120,120);margin-top:6px;}
	
/*
	Hidden
*/

	.hidden{display:none;}

/*
	Input
*/

	.input{padding:12px 12px;background-color:transparent; border:none;outline:none;font-size:15px;letter-spacing:0px;font-weight:400;font-family:'Lato';display: block;width:100%;}

	/*
	Description
*/

	.textarea{padding:15px 12px;background-color:transparent; border:none;outline:none;font-size:15px;letter-spacing:0px;font-weight:400;font-family:'Lato';display: block;width:100%;}

/*
	URL
*/
	.url{}
	.url>div{padding:12px 12px;width:10%;text-align:left;background-color:rgb(248,248,248);color:rgb(120,120,120); border-left:1px solid rgb(220,220,220);font-size:15px;font-weight:400;display: inline-block;}
	.url>input{padding:11px 12px;width:90%;border:none;outline:none;font-size:15px;letter-spacing:0px;display:inline-block;}

/*
	List
*/

	.list{width:100%}
	.list>ul{margin:0px; padding:0px;list-style: none;}
	.list>ul>li{padding:0px;padding:12px 12px;border-bottom:1px solid rgb(220,220,220);cursor: pointer;font-size:0px}
	.list>ul>li:hover{background-color: white;}
	.list>ul>li:last-child{border-bottom:none;}

	.list>ul>li>div:first-child:hover,.list>ul>li>div>*:hover{color: rgb(57, 77, 22);}
	.list>ul>li>div{
		font-size:19px;
		display: inline-block;
		vertical-align: middle;
		color: rgb(117, 158, 46);
	
	}
	.list>ul>li>div:first-child{border-right:1px solid rgb(220,220,220);width: 8%;text-align: center;}
	.list>ul>li>div:last-child{
		width: 16%;
		text-align: right;
	}
	.list>ul>li>div>div{
		display: inline-block;
		vertical-align: middle;
		width:12px;
		
	}
	.list>ul>li>label{font-size:15px;display: inline-block;vertical-align: middle;cursor: pointer;width:76%;padding:0px 24px}

	.list_field{
		width: 100%;
		margin:24px 0px;
	}
	.list_field>label{
		display: block;
		font-size:14px;
		color:rgb(90,90,90);
		margin-bottom:6px

	}


	.list_field>input{
		display: block;
		font-size:14px;
		color:rgb(90,90,90);
		margin-bottom:6px;
		font-family: 'lato';
		width:100%;
		padding:6px 3px

	}
	.list_field>select{
		display: block;
		font-size:14px;
		width:100%;
		padding:12px 3px;
	}
	.list_field>select>option{
		font-size:14px;
		font-family: 'lato';
	}

	.list_add{text-align: center;}
	.list_add:hover{background-color: transparent !important;}
	.list_add>div{width:180px !important;text-align: center !important; padding:9px;color:white !important;background-color:rgb(117, 158, 46);font-size:14px !important}
	.list_add>div:hover{background-color:rgb(98, 133, 40);cursor: pointer;}

/*
	Image
*/	

	.document,.image{padding-bottom:9px}

/*
	Multi Select
*/

 
/*
	Input
*/

.date{padding:12px 12px;background-color:transparent; border:none;outline:none;font-size:15px;letter-spacing:0px;font-weight:400;font-family:'Lato';display: block;width:100%;}


/*
	Submit
*/

	.submit{cursor:pointer;border-radius: 4px;border:1px solid rgb(117, 158, 46);color: white;display:inline-block;padding:9px 12px;outline:none;font-size:14px;letter-spacing:0.1px;font-weight:400;font-family:'Lato';background-color:rgb(117, 158, 46)}

/*
	Cancel
*/
	.cancel{display: inline-block;margin-left:12px;cursor:pointer;}
	.cancel>a{border-radius: 4px;border:1px solid rgb(180,180,180);background-color: white; color: rgb(90,90,90);padding:9px 12px;font-size:14px !important;letter-spacing:0.1px;font-weight:400;font-family:'Lato';}
	
/*
	Delete
*/
	.delete{margin-right:12px;color: rgb(131,131,131);cursor: pointer;display:inline-block;font-size:20px}
	.delete:hover{color:rgba(193,64,12,0.80)}
	



/*
	Dialog Form
*/
.dialog_form {
	display: inline-block;width:100%;text-align: left;
}

.dialog_field,.dialog_field_invalid{padding:9px 12px;display:inline-block;vertical-align: top;}
.dialog_field>label,.dialog_field_invalid>label{font-size:14px;font-weight:600;display: block;letter-spacing:0.8px;}
.dialog_field>div,.dialog_field_invalid>div{border:1px solid rgb(150,150,150);border-radius:4px;padding:6px 6px;margin:6px 0px;background-color: white;}
.dialog_field_invalid>div{border-color:rgba(193,64,12,0.80)}
.dialog_field>span,.dialog_field_invalid>span{font-size:13px;display: block;}
.dialog_field>span,.dialog_field_invalid>span{font-size:13px;display: block;}
.dialog_field_invalid>span{color:rgba(193,64,12,0.80)}
.dialog_field>p,.dialog_field_invalid>p{font-size:12px;display: block;letter-spacing:0.8px;color:rgb(120,120,120);margin-top:6px;}

